@import '../../styles/index.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;

  &__nav-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}